.text-2xl{
  color: #fff;
  letter-spacing: -.025em;
  font-weight: 700;
  font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.card-title {
  line-height: 0.75rem;
}
.card-body :where(h5){
  font-size: 1rem;
}
.card-body :where(p) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75rem;
  
}
.card-body :where(h5) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  
}

.carousel-item{
  width: 37.5rem;
  height: 25rem;
  border-radius: 10px;
}
.carouselImg img{
  margin:auto;
}
.card {  
  border-radius: 10px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) { 
  .carousel-item{
  width: 71%;
  height: auto;
} 



}